<div class="btn-group" role="group" aria-label="avaliacao">
  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" value="3" [(ngModel)]="nota">
  <label class="btn btn-outline-primary" for="btnradio1">Muito Bom</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" value="2" [(ngModel)]="nota">
  <label class="btn btn-outline-primary" for="btnradio2">Mais Ou Menos</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" value="1" [(ngModel)]="nota">
  <label class="btn btn-outline-primary" for="btnradio3">Ruim</label>
</div>
